doctype html
html
    head
        title Quran Pot
         link(rel='icon' type='image/x-icon' href='../assets/quran-icon-png-7.png')
        style.
            body {
                background-color: #61A4BC;
            
            }
         
            .h2{
                font-size: 20px;
                font-weight: bold;
                color: #000;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                text-align: center;
                font-style: italic;
            }
            hr{
                margin-top:50px;
                border: 1px solid #DAB88B;
                width: 50%;

            }
            p{
                font-size: 13px;
                text-align: center;
                font-style: italic;
            }
            span {
                font-size:80%;
                font-style: italic;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }

        body 
            h2.h2  #{title} 
                hr
                p.
                    A bot that automatically publishes verses, It is a free and open source project.
                span.    
                    &copy; 2022 " Mohamed Ahmed "
                   



